<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title : 'nej' %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('partials/nav.ejs') %>

    <div class="fancy">
    <% if(typeof movie !='undefined') { %>
        <p>Title: <%= movie.title%></p>
        <p>Runtime: <%= movie.runtime%> Minutes</p>
        <p>Watched: <%= movie.watched%></p>
        <p>Rating: <%= movie.rating%>%</p>
        <p>Production cost: <%= movie.production%>M</p>
        <p>Description: <%= movie.description%></p>
    <%} %>
</div>

</body>
</html>